{% comment %} {% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}

{% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% translate 'Change my password' %}">
</fieldset>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %} {% endcomment %}

{% load i18n static panel admin_urls %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{{ title }} | {% trans 'Log in again' %}{% endblock %}</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static "vendor/fontawesome-free/css/all.min.css" %}">

    <!-- Bootstrap and adminLTE -->
    <link rel="stylesheet" href="{% static "vendor/adminlte/css/adminlte.min.css" %}">

    <!-- Bootswatch theme -->
    {% if jazzmin_ui.theme.name != 'default' %}
        <link rel="stylesheet" href="{{ jazzmin_ui.theme.src }}" id="jazzmin-theme" />
    {% endif %}

    {% if jazzmin_ui.dark_mode_theme %}
        <link rel="stylesheet" href="{{ jazzmin_ui.dark_mode_theme.src }}" id="jazzmin-dark-mode-theme" media="(prefers-color-scheme: dark)"/>
    {% endif %}

    <!-- Custom fixes for django -->
    <link rel="stylesheet" href="{% static "jazzmin/css/main.css" %}">

    {% if jazzmin_settings.custom_css %}
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static jazzmin_settings.custom_css %}">
    {% endif %}

    <!-- favicons -->
    <link rel="shortcut icon" href="{% static jazzmin_settings.site_icon %}" type="image/png">
    <link rel="icon" href="{% static jazzmin_settings.site_icon %}" sizes="32x32" type="image/png">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    {% block extrastyle %} {% endblock %}
    {% block extrahead %} {% endblock %}
</head>
<body class="hold-transition jazzmin-login-page">


<div id='login-form' class="login-box">
    {% comment %} <div class="login-logo">
        <img src="{% static jazzmin_settings.site_logo %}" height='100' />
    </div> {% endcomment %}

    <div class="card">
        <div class="card-body">
            <img src={% static jazzmin_settings.site_logo %} height='120' class='rounded mx-auto d-block mb-1'>
            {% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

{{ form.email.errors }}
<input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
<form method="post">
    {% csrf_token %}
    <div class="input-group mb-3 mt-2">
        <input type="password" id='id_new_password1' name="new_password1" class="form-control" placeholder="Contraseña nueva..." required>
        <div class="input-group-text">
            <span id='pass1' class="fas fa-eye" onclick="reveal1()"></span>
        </div>
    </div>
    <div class="input-group mb-3 mt-2">
        <input type="password" id='id_new_password2' name="new_password2" class="form-control" placeholder="Repetir contraseña..." required>
        <div class="input-group-text">
            <span id='pass2' class="fas fa-eye" onclick="reveal2()"></span>
        </div>
    </div>
    <button id='login' type="submit" class="btn btn-block">Recuperar contraseña</button>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'vendor/adminlte/js/adminlte.min.js' %}"></script>
<script type="text/javascript">
    function reveal1(){
        console.log(document.getElementById('id_new_password1').type)
        if(document.getElementById('id_new_password1').type === 'password'){
            document.getElementById('id_new_password1').type = 'text'
            document.getElementById('pass1').classList.remove('fa-eye')
            document.getElementById('pass1').classList.add('fa-eye-slash')
        }else{
            document.getElementById('id_new_password1').type = 'password'
            document.getElementById('pass1').classList.remove('fa-eye-slash')
            document.getElementById('pass1').classList.add('fa-eye')
        }
    }

    function reveal2(){
        console.log(document.getElementById('id_new_password2').type)
        if(document.getElementById('id_new_password2').type === 'password'){
            document.getElementById('id_new_password2').type = 'text'
            document.getElementById('pass2').classList.remove('fa-eye')
            document.getElementById('pass2').classList.add('fa-eye-slash')
        }else{
            document.getElementById('id_new_password2').type = 'password'
            document.getElementById('pass2').classList.remove('fa-eye-slash')
            document.getElementById('pass2').classList.add('fa-eye')
        }
    }
</script>

{% if jazzmin_settings.custom_js %}
<script src="{% static jazzmin_settings.custom_js %}"></script>
{% endif %}



</body>
</html>


