<!DOCTYPE html>
<html lang="en">
  <div style="background-color: #F4C031; width: 100%">
            <img
                src="/media/template_media/Logo-LocalSecrets.png"
                alt="Local Secrets"
            />
  </div>

    <div style="width:800px; margin:0 auto;">
      <h2 style="font-family: 'Source', Source, sans-serif; font-weight: 600;">
        Cómo desvincular tu cuenta de Facebook de Localsecrets
      </h2>
      <p style="font-family: 'Source', Source, sans-serif; font-weight: 400;">
        Para poder eliminar tus datos de la cuenta de Local Secrets,
        tienes que acceder a tu perfil y en configuración podrás encontrar abajo de la pantalla un botón que indica "Eliminar cuenta"
      </p>
    </div>
</html>





