<!DOCTYPE html>
<html lang="en">
  <div style="background-color: #F4C031; width: 100%">
            <img
                src="/media/template_media/Logo-LocalSecrets.png"
                alt="Local Secrets"
            />
  </div>
  <div style="width:100%;">



    <h1>Localsecrets.travel Privacy Policy</h1>
    <p><strong>Effective Date:</strong> 12 March 2024</p>

    <p>At Local Secrets, we deeply value the privacy of our users and customers. This Privacy Policy describes how we collect, use, share, and protect the personal information we collect through our website and related services. By using our services, you agree to the terms and conditions set forth in this policy. We encourage you to read the following carefully to understand how we handle your personal information.</p>

    <h2>Information We Collect</h2>
    <p>a. <strong>Registration Information:</strong> When you register with Local Secrets, we will ask you to provide personal information, which may include your name, email address, telephone number, and other information you may voluntarily provide.</p>
    <p>b. <strong>Payment Information:</strong> If you choose to make purchases through our website, we will collect payment information, such as credit or debit card numbers and billing details. However, this sensitive information is processed through secure third parties and is not stored on our servers. Our Partners are 100% PCI compliant and are certified to that effect.</p>
    <p>c. <strong>Profile Information:</strong> You may choose to provide additional information in your profile, such as a profile picture, a brief biography, and your personal preferences so that we can personalize your experience at Local Secrets.</p>
    <p>d. <strong>Location Data:</strong> When you use our mobile application or geolocation services, we may collect location data to provide you with relevant information about nearby events and places.</p>
    <p>e. <strong>Device Information:</strong> We collect information about the device you use to access our services, such as IP address, device type, operating system, and web browser, but we do absolutely nothing with this data, including storing it.</p>
    <p>f. <strong>Log Data:</strong> We may collect log information, which includes records of activities on the APP, dates and times of access, number of favorites, opinions, and ratings about the places and events published on our app, etc.</p>

    <h2>Use of Information</h2>
    <p>We use the information we collect for the following purposes:</p>
    <p>a. <strong>Personalizing the Experience:</strong> We use your information to personalize your experience at Local Secrets, providing you with content, recommendations, and offers that are tailored to your interests and preferences.</p>
    <p>b. <strong>Communication:</strong> We may use your email address or phone number to send you communications related to your account, transactions, newsletters, and product updates.</p>
    <p>c. <strong>Improving the Services:</strong> We analyze usage data to improve our services, identify trends, and optimize the functionality of our website and app.</p>
    <p>d. <strong>Marketing and Promotion:</strong> With your consent, we may use your information to send you personalized offers, promotions, and advertising that we believe may be of interest to you.</p>

    <h2>Information Sharing</h2>
    <p>Local Secrets does not sell or rent your personal information to third parties. However, we may share your information in the following circumstances:</p>
    <p>a. <strong>Service Providers:</strong> We work with third parties who provide services to us, such as payment processors and web hosting services. These providers may access your personal information, but only use it to provide services on our behalf.</p>
    <p>b. <strong>Legal Compliance:</strong> In compliance with the law, we may disclose your personal information when necessary to protect our rights, privacy, safety, or property, or to comply with a court order or legal requirements.</p>
    <p>c. <strong>Business Transfer:</strong> If Local Secrets is acquired by or merged with another company, your personal information may be transferred as part of the transaction.</p>

    <h2>Cookies and Similar Technologies</h2>
    <p>We do not use cookies and similar technologies to collect information about your activity on our APP.</p>

    <h2>Data Security</h2>
    <p>Local Secrets strives to protect your personal information through reasonable security measures. However, we cannot guarantee the absolute security of online data, and you should take steps to protect your own information.</p>

    <h2>Your Rights</h2>
    <p>You have rights over your personal information, including access, rectification, erasure, restriction of processing, and portability. You can exercise these rights by contacting us using the details provided in the contact section of this document.</p>

    <h2>Changes to this Policy</h2>
    <p>Local Secrets reserves the right to update this Privacy Policy at any time. When we make significant changes, we will notify you through appropriate means and update the effective date at the top of the document.</p>

    <h2>Contact</h2>
    <p>If you have any questions or concerns about this Privacy Policy or how we handle your personal information, please feel free to contact us:</p>
    <address>
        LocalSecrets.Travel<br>
        <a href="mailto:info@localsecrets.travel">info@localsecrets.travel</a><br>
        2655 S Le Jeune Rd #905<br>
        Coral Gables, FL 33134 USA
    </address>

    <p>Thank you for trusting Local Secrets. We are committed to protecting your privacy and providing you with exciting experiences and places around the world.</p>
  </div>

</html>


