<!DOCTYPE html>
<html lang="en">
  <div style="background-color: #F4C031; width: 100%">
            <img
                src="/media/template_media/Logo-LocalSecrets.png"
                alt="Local Secrets"
            />
  </div>
  <div style="width:100%;">



    <h1>Política de Privacidad de Local Secrets</h1>
    <p><strong>Fecha de entrada en vigencia:</strong> 12 de octubre de 2023</p>

    <p>En Local Secrets, valoramos profundamente la privacidad de nuestros usuarios y clientes. Esta Política de Privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la información personal que obtenemos a través de nuestro sitio web y servicios relacionados. Al utilizar nuestros servicios, aceptas los términos y condiciones establecidos en esta política. Te recomendamos leer detenidamente el siguiente texto para comprender cómo gestionamos tus datos personales.</p>

    <h2>Información que Recopilamos</h2>
    <p>a. <strong>Información de Registro:</strong> Cuando te registras en Local Secrets, te pediremos proporcionar información personal, que puede incluir tu nombre, dirección de correo electrónico, número de teléfono y otra información que puedas proporcionar voluntariamente.</p>
    <p>b. <strong>Información de Pago:</strong> Si decides realizar compras a través de nuestro sitio web, recopilaremos información de pago, como números de tarjetas de crédito o débito y detalles de facturación. Sin embargo, esta información sensible se procesa a través de terceros seguros y no se almacena en nuestros servidores. Nuestros Partners son 100% compatibles con las Normas PCI y están certificados a ese efecto.</p>
    <p>c. <strong>Información del Perfil:</strong> Puedes optar por proporcionar información adicional en tu perfil, como una foto de perfil, una breve biografía y tus preferencias personales para que podamos personalizar tu experiencia en Local Secrets.</p>
    <p>d. <strong>Datos de Ubicación:</strong> Cuando utilices nuestra aplicación móvil o servicios de geolocalización, podremos recopilar datos de ubicación para proporcionarte información relevante sobre eventos y lugares cercanos.</p>
    <p>e. <strong>Información del Dispositivo:</strong> Recopilamos información sobre el dispositivo que utilizas para acceder a nuestros servicios, como la dirección IP, el tipo de dispositivo, el sistema operativo y el navegador web, pero no hacemos absolutamente nada con estos datos, ni siquiera los almacenamos.</p>
    <p>f. <strong>Datos de Registro:</strong> Podemos recopilar información de registro, que incluye registros de actividades en la APP, fechas y horas de acceso, número de favoritos, opiniones y valoraciones sobre los lugares y eventos publicados en nuestra app, etc.</p>

    <h2>Uso de la Información</h2>
    <p>Utilizamos la información que recopilamos para los siguientes fines:</p>
    <p>a. <strong>Personalización de la Experiencia:</strong> Utilizamos tu información para personalizar tu experiencia en Local Secrets, brindándote contenido, recomendaciones y ofertas que se adapten a tus intereses y preferencias.</p>
    <p>b. <strong>Comunicación:</strong> Podemos usar tu dirección de correo electrónico o número de teléfono para enviarte comunicaciones relacionadas con tu cuenta, transacciones, boletines informativos y actualizaciones de productos.</p>
    <p>c. <strong>Mejora de los Servicios:</strong> Analizamos datos de uso para mejorar nuestros servicios, identificar tendencias y optimizar la funcionalidad de nuestro sitio web y aplicación.</p>
    <p>d. <strong>Marketing y Promoción:</strong> Con tu consentimiento, podemos utilizar tu información para enviar ofertas, promociones y publicidad personalizada que creemos que podrían interesarte.</p>

    <h2>Compartir Información</h2>
    <p>Local Secrets no vende ni alquila tu información personal a terceros. Sin embargo, podemos compartir tu información en las siguientes circunstancias:</p>
    <p>a. <strong>Proveedores de Servicios:</strong> Trabajamos con terceros que nos brindan servicios, como procesadores de pagos y servicios de alojamiento web. Estos proveedores pueden acceder a tu información personal, pero solo la utilizan para proporcionar servicios en nuestro nombre.</p>
    <p>b. <strong>Cumplimiento Legal:</strong> En cumplimiento de la ley, podemos divulgar tu información personal cuando sea necesario para proteger nuestros derechos, privacidad, seguridad o propiedad, o para cumplir con una orden judicial o requisitos legales.</p>
    <p>c. <strong>Transferencia Empresarial:</strong> Si Local Secrets es adquirida o se fusiona con otra empresa, tu información personal puede ser transferida como parte de la transacción.</p>

    <h2>Cookies y Tecnologías Similares</h2>
    <p>No utilizamos cookies y tecnologías similares para recopilar información sobre tu actividad en nuestra APP.</p>

    <h2>Seguridad de los Datos</h2>
    <p>Local Secrets se esfuerza por proteger tu información personal mediante medidas de seguridad razonables. Sin embargo, no podemos garantizar la seguridad absoluta de los datos en línea, y debes tomar medidas para proteger tu propia información.</p>

    <h2>Tus Derechos</h2>
    <p>Tienes derechos sobre tu información personal, que incluyen el acceso, rectificación, eliminación, restricción del procesamiento y portabilidad. Puedes ejercer estos derechos poniéndote en contacto con nosotros a través de los datos proporcionados en la sección de contacto de este documento.</p>

    <h2>Cambios en esta Política</h2>
    <p>Local Secrets se reserva el derecho de actualizar esta Política de Privacidad en cualquier momento. Cuando realicemos cambios significativos, te notificaremos a través de los medios apropiados y actualizaremos la fecha de entrada en vigencia en la parte superior del documento.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta o inquietud sobre esta Política de Privacidad o sobre cómo manejamos tu información personal, no dudes en contactarnos:</p>

    <p>LocalSecrets.Travel</p>
    <p>info@localsecrets.travel</p>
    <p>2655 S Le Jeune Rd #905</p>
    <p>Coral Gables, FL 33134 USA</p>
    <p>Gracias por confiar en Local Secrets. Estamos comprometidos en proteger tu privacidad y proporcionarte experiencias y lugares emocionantes en todo el mundo.</p>

  </div>

</html>

