<style type="text/css">
    @page {
        size: a4 portrait;
        margin: 1px;
    }

    .separator {
        height: 32px;
    }

    .local-secrets__container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .local-secrets {
        border-collapse:collapse;
        border-spacing:0;
        font-size:8px;
    }

    .local-secrets .local-secrets__header {
        font-size: 11px;
        border-collapse:collapse;
        border: none;
        background-color: #fbb03c;
        padding: 1rem;
    }

    .local-secrets__logo {
        width: 64px;
        height: 52px;
    }

    .local-secrets__user {
        width: 48px;
        height: 48px;
    }

    .right {
        text-align: right;
    }

    .left {
        text-align:left;
    }
    .local-secrets th {
        background-color: #fbb03c;
        border: 1px solid #fbb03c;
        padding: 1.5rem;
        border-spacing: 0;
        border: none;
        font-family:Arial, sans-serif;
        font-size:14px;
        font-weight:normal;
        overflow:hidden;
        padding:5px 5px;
        word-break:normal;
    }

    .local-secrets .local-secrets__cell{
        vertical-align: top;
        padding-right: 16px;
    }

    .local-secrets .local-secrets__cell-comercial{
        width: 35%;
        vertical-align: top;
        text-align: right;
    }

    .local-secrets__step {
        width: 100%;
        font-size: 12px;
        font-weight: 800;
        text-align: center;
    }

    .local-secrets__stage {
        width: 75%;
    }
    .local-secrets__stage-cover-cell {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .local-secrets__stage-cover {
        width: 100%;
    }

    .local-secrets__stage > b {
        font-size: 11px;
    }

    .local-secrets__trip {
        border: none;
    }

    .local-secrets__trip-header {
        margin-left: 0px;
        font-size: 20px;
    }

    .local-secrets__trip .local-secrets__date-title {
        color: #B1B1B1;
        padding-top: 5px;
        text-align: left;
        vertical-align: middle;
        font-size: 8px;
    }

    .local-secrets__trip .local-secrets__date {
        color: #fbb03c;
        font-weight: 800;
        width: 100%;
        padding-top: 5px;
        text-align: left;
        font-size: 11px;
        vertical-align: middle;
    }

    .local-secrets__map {
        width:100%;
        padding-bottom: 16px;
    }

    .local-secrets_ad {
        width: 100%;
    }

    .local-secrets__user-name {
        padding: 0px;
        font-size: 11px;
    }

    .local-secrets__user {
        padding:0px;
        text-align: left;
        width:56px;
    }

    .local-secrets__comercial-info {
        border:0.6px solid #B1B1B1;
        margin-left:0px;
        margin-right:0px;
    }

    .local-secrets__comercial-info-table {
        width:100%;
        border-collapse:collapse;
        border-spacing:0;
    }

    .local-secrets__first-cell {
        padding-top:8px;
        padding-left:0px;
    }

    .local-secrets__slogan {
        padding-top:8px;
        padding-left:0px;
        color:#B1B1B1;
    }

    .local-secrets__link {
        padding-top:8px;
        padding-left:0px;
        padding-bottom: 8px;
        font-size: 11px;
    }

    .local-secrets__donwload-copy {
        padding-top:16px;
        padding-left:8px;
        border-top:0.6px solid #B1B1B1;
        border-left:0.6px solid #B1B1B1;
        border-right:0.6px solid #B1B1B1;
    }

    .local-secrets__advertisement {
        padding-top:16px;
        padding-left:12px;
        border-bottom:0.6px solid #B1B1B1;
        border-left:0.6px solid #B1B1B1;
        border-right:0.6px solid #B1B1B1;
        margin-left:0px;
        margin-right:0px;
    }
    </style>
<div class="local-secrets__container">

    <table class="local-secrets">
    <thead>
      <tr>
        <th class="local-secrets__header left">
            <img
                src="media/template_media/Logo-LocalSecrets.png"
                alt="Local Secrets"
                class="local-secrets__logo"
            />
        </th>
      </tr>
    </thead>
    <tbody>
        <tr class="separator"><td>&nbsp;</td><td> </td></tr>
        <tr>
            <td class="local-secrets__cell">
                <h1
                    id="tripHeader"
                    class="local-secrets__trip-header"
                >
                    {{route.title}}
                </h1>

            <table style="width:100%;">
                {% for stop in route.stops.all%}

                        <tr>
                          <td>
                              <table style="width: 100%">
                                  <tr style="width: 100%">
                                      <td style="width: 5%;">{{ forloop.counter }}</td>
                                      <td style="width: 30%;">
                                          <img style="width: 100%;  alignment: left;"
                                              src="{{ stop.images.all.first.image.url|slice:"1:" }}"
                                              alt="City"
                                          />
                                      </td>
                                      <td style="width: 65%;">
                                          <b>{{ stop.title }}</b>
                                          <p> <img src="media/template_media/Icon-Location.svg" alt="Location"/>{{ stop.address.street }},{{ stop.address.number }}, {{ stop.address.city.name }}</p>
                                          <p><img src="media/template_media/Icon-Time.svg" alt="Dates" />{{ stop.next_schedule.opening_hours.all.first.initial_date }}</p>
                                          <p><img src="media/template_media/Icon-Telephone.svg" alt="Telephone"/> <a href="tel:{{ stop.phone }}">{{ stop.phone }}</a></p>
                                          <p><img src="media/template_media/Icon-Web.svg" alt="Website"/> <a href="{{ stop.url }}">{{ stop.url }}</a></p>

                                      </td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr> <td>&nbsp;</td> </tr>
                {%  endfor %}
            </table>

            <td class="local-secrets__cell-comercial">
                <table class="local-secrets" style="margin-left:8px;border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="padding-bottom:16px;">
                                <img
                                    src="media/template_media/Map_Example.png"
                                    alt="Map mock"
                                    class="local-secrets__map"
                                />
                            </td>
                        </tr>
                        <tr style="padding-top:8px;">
                            <td class="local-secrets__comercial-info">
                                <table class="local-secrets__comercial-info-table">
                                    <tbody>
                                        <tr>
                                            <td class="local-secrets__first-cell left">
                                                <img
                                                    src="media/template_media/Logo-LocalSecrets.png"
                                                    alt="Local Secrets"
                                                    class="local-secrets__logo"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="local-secrets__slogan left">
                                                TRAVEL. CONNECT. DISCOVER
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="local-secrets__link left">
                                                <a href="www.localsecrets.travel">www.localsecrets.travel</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="local-secrets__donwload-copy left">
                                <img
                                    src="media/template_media/comercial.png"
                                    alt="Download now the app of Local Secrets and discover the world"
                                    style="width:100%;"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td class="local-secrets__advertisement">
                                <img
                                    src="./assets/advertisement.jpeg"
                                    alt="Download app"
                                    class="local-secrets_ad"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
    </tbody>
    </table>
</div>
